body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header {
	background: #fff;
	height: 300px;

}
.container{
	width: 900px;
	margin: 0 auto; 
}

.kart{
	background: url(../img/nike-bg.jpg) no-repeat center top / cover;
	height: 600px;
}

.kart2{
	background: url(../img/tex.jpg) no-repeat center top / cover;
	height: 504px;
}

nav {
	margin-top: 100px;
}

.menu li {
	float: left;
	display: block;
	margin-right: 70px; 
}

.menu a {
	color: #000;
	text-decoration: none;
	text-decoration: uppercase;
	font-size: 25px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

h1	{
	text-align: center;
	font-size: 50px
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
	}

	.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

#services {
	padding-bottom: 80px;
}

h4 {
	margin-top: 3px;
	font-size: 15px;
	text-align: center;
	border-radius: 3px;
}